# Python
*.pyc
*~
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/

# Django
db.sqlite3
db.sqlite3-journal

# Logs
*.log

# Visual Studio
.vscode/
.history/
*.code-workspace

# PyCharm
.idea/
*.iws

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/
